Please judge whether the generated answer is right or wrong. We require that the correct answer 
to the prediction gives a clear answer, not just a calculation process or a disassembly of ideas.

The question is: {{ question }}

The true answer is:  
{{ answer }}

The predicted answer is:  
{{ prediction }}

If the predicted answer is right, please output True. Otherwise, output False.  
Don't output any other text content. You can only output True or False.